@import url(polymaps_style.css);
/* line 7, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 6, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_chromeframe.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media print {
  /* line 11, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
body {
  font: 16px "Helvetica Neue", Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}

/* line 18, ../sass/style.scss */
header, footer {
  display: none;
}

/* line 22, ../sass/style.scss */
div#map {
  width: 100%;
  height: 100%;
}

/* line 27, ../sass/style.scss */
#ui {
  display: none;
  width: 100%;
  font-size: 14px;
  position: fixed;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
  top: 0;
  left: 0;
  height: 90px;
  padding-bottom: 10px;
  background-image: -o-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0.65) 35%, rgba(254, 254, 254, 0.54) 90%, rgba(0, 0, 0, 0.25) 90%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0.65) 35%, rgba(254, 254, 254, 0.54) 90%, rgba(0, 0, 0, 0.25) 90%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.65) 35%, rgba(254, 254, 254, 0.54) 90%, rgba(0, 0, 0, 0.25) 90%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0.65) 35%, rgba(254, 254, 254, 0.54) 90%, rgba(0, 0, 0, 0.25) 90%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.65) 35%, rgba(254, 254, 254, 0.54) 90%, rgba(0, 0, 0, 0.25) 90%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
}
/* line 46, ../sass/style.scss */
#ui .button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-image: -o-linear-gradient(-90deg, white 0%, #f3f3f3 15%, #cccccc 100%);
  background-image: -moz-linear-gradient(-90deg, white 0%, #f3f3f3 15%, #cccccc 100%);
  background-image: -webkit-linear-gradient(-90deg, white 0%, #f3f3f3 15%, #cccccc 100%);
  background-image: -ms-linear-gradient(-90deg, white 0%, #f3f3f3 15%, #cccccc 100%);
  background-image: linear-gradient(-90deg, #ffffff 0%, #f3f3f3 15%, #cccccc 100%);
  border: 1px solid #666666;
  line-height: 32px;
}
/* line 59, ../sass/style.scss */
#ui .button:active {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  background-image: -o-linear-gradient(-90deg, #b3b3b3 0%, #cccccc 15%, #999999 100%);
  background-image: -moz-linear-gradient(-90deg, #b3b3b3 0%, #cccccc 15%, #999999 100%);
  background-image: -webkit-linear-gradient(-90deg, #b3b3b3 0%, #cccccc 15%, #999999 100%);
  background-image: -ms-linear-gradient(-90deg, #b3b3b3 0%, #cccccc 15%, #999999 100%);
  background-image: linear-gradient(-90deg, #b3b3b3 0%, #cccccc 15%, #999999 100%);
}
/* line 69, ../sass/style.scss */
#ui .button .on {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-image: -o-linear-gradient(-90deg, #4a9eff 0%, #2c80f3 15%, #1a1b9f 100%);
  background-image: -moz-linear-gradient(-90deg, #4a9eff 0%, #2c80f3 15%, #1a1b9f 100%);
  background-image: -webkit-linear-gradient(-90deg, #4a9eff 0%, #2c80f3 15%, #1a1b9f 100%);
  background-image: -ms-linear-gradient(-90deg, #4a9eff 0%, #2c80f3 15%, #1a1b9f 100%);
  background-image: linear-gradient(-90deg, #4a9eff 0%, #2c80f3 15%, #1a1b9f 100%);
}
/* line 80, ../sass/style.scss */
#ui .big {
  height: 100%;
  width: 100px;
  border: 0;
  border-right: 1px solid #666;
}
/* line 86, ../sass/style.scss */
#ui .big span {
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 32px;
  padding-top: 58px;
}
/* line 96, ../sass/style.scss */
#ui #myLocation span {
  background-image: url('../img/location.png?1335930159');
}

/* line 101, ../sass/style.scss */
circle {
  stroke-width: 2px;
}

/* line 106, ../sass/style.scss */
.layer path {
  fill: none;
  stroke: #1f77b4;
  stroke-width: 2px;
}

/* line 112, ../sass/style.scss */
.layer path.Polygon {
  fill: #ff0000;
  stroke-width: 0;
  opacity: 0.35;
}

/* line 118, ../sass/style.scss */
.layer path.Polygon:hover {
  opacity: 0.5;
}

/* line 122, ../sass/style.scss */
#popover {
  background: #333;
  border: 2px solid;
  border-color: #000;
  color: #eee;
  width: 256px;
  height: 128px;
  padding: 4px 8px;
  position: absolute;
  left: 8px;
  top: 16px;
  z-index: 2;
  opacity: 0;
  -webkit-transition-property: opacity, background, border-color, color;
  -moz-transition-property: opacity, background, border-color, color;
  -ms-transition-property: opacity, background, border-color, color;
  -o-transition-property: opacity, background, border-color, color;
  transition-property: opacity background border-color color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
}

/* line 142, ../sass/style.scss */
#popover.shown {
  opacity: 1;
}
